body{
    background-color: #F7ECDE ;
    text-align: center;
    margin: 0;
}
h1{
    padding: 150px auto 0; 
}


/*********CLASES************/
.header-container{
    
    margin: 0;
}

.montaña{
    width: 50%;/*proporcion que se ajusta al ancho contenedor*/
}
.rayo{
    position: absolute;
    width: 15%;/*proporcion que se ajusta al ancho contenedor*/
    filter: drop-shadow(0 2px 10px rgb(240, 41, 197)); /*sombra a contornos de la img con transparencias*/
}
.primero{
    transform: rotate(-20deg) rotatey(180deg);
    top:100px;
    left: 5%;
}
.segundo{
    top: 100px;
    right: 5%;
    transform: rotate(20deg);
}